[submodule "OrbisAPI"]
	path = lib/OrbisAPI
	url = https://git.gildedgames.com/GildedGames/OrbisAPI.git
[submodule "lib/Phosphor"]
	path = lib/Phosphor
	url = https://git.gildedgames.com/jellysquid/phosphor.git
