# Compiled Java
*.class

# Eclipse
.classpath
.project
.settings
eclipse
bin

# IntelliJ Idea
.idea

# Gradle
/build/
/bin/
gradle
gradlew.bat
gradlew
.gradle

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

/saves/
/logs/
/crash-reports/
/config/
/mod-config/
options.txt
usernamecache.json